// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

body {
	height: 100%;
	margin: 10px;
	padding: 10px;
}

#gmap{
	width: 80%;
	height: 80%;
}